/* mobile first */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    color: #1d2043;
    max-width: 500px;
    font-weight: 300;
    font-size: 1em;
    transition: transform 0.5s ease;
}

body {
    flex: 1;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.058);
    z-index: 1000;
}

.logo {
    font-size: 1.2em;
    color: #1d2043;
    font-weight: 800;
    text-decoration: none;
    transition: transform 0.5s ease;
}

.logo:hover {
    font-size: 1.23em;
}

nav ul {
    display: flex;
    justify-content: space-between;

}

.navbar a {
    font-size: 0.8em;
    font-weight: 500;
    margin-left: 1.5em;
    color: #1d2043;
    text-decoration: none;
    transition: transform 0.5s ease;
}

.navbar a:hover {
    text-decoration: underline;
}

.home {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
}

.my-introduction h1,
.my-introduction h1 span {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 40px;
}

.my-introduction h2 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 2em;
}

.plus-sign {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.my-introduction h1 span {
    background-image: linear-gradient(to right, #ff351e, #d61900);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

.my-introduction p {
    margin-top: 1em;
    color: #a3a5a7;
}

.my-introduction p span {
    font-weight: 500;
}

.btn {
    margin-top: 3em;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #ff351e, #d61900);
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-image: none;
    background-color: #e14c3c;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

.btn a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.social-medias a {
    display: inline-flex;
    font-size: 1.5em;
    margin: 1em 0 0 1em;
    text-decoration: none;

}

.social-medias i {
    color: #a3a5a7;
    transition: transform 0.4s ease;
}

.social-medias i:hover {
    color: #1d2043;
}

.illustration-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.illustration-img img {
    margin-top: 1em;
    max-width: 382px;
    /* width: 100%; */
    height: auto;
    transition: trasform 0.3 ease;
    border-bottom: #a3a5a7 1px solid;
}

.section {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
}

.main-title h2 span {
    background-image: linear-gradient(90deg, #ff351e, #d61900);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.main-title h2 {
    font-size: 2em;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

.main-title h2 span {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

.section p {
    margin-top: 1em;
    color: #a3a5a7;
    text-align: justify;
}

.section p span {
    font-weight: 500;
}

.service-elements {
    margin-top: 2.5em;
}

.icon {
    height: 2.75em;
    width: 2.75em;
    flex: none;
    transition: 0.5s;
    line-height: 2.75em;
    border-radius: 50%;
    text-align: center;
    margin-right: 1em;
    background-image: linear-gradient(45deg, #ff351e, #d61900);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon i {
    color: #ffffff;
    height: auto;
    font-size: 1.5em;
}

.icon-elements {
    margin-top: 2.5em;
    display: flex;
    align-items: center;
}

.icon-elements h4 {
    font-size: 1.2em;
    font-weight: 500;
}

.explore-img {
    margin-top: 1em;

}

.explore-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-tile {
    position: relative;
    max-width: 382px;
    width: 85%;
    height: 240px;
    overflow: hidden;
    margin-top: 1.5em;
    box-shadow: -2px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.img-tile img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: left !important;
}

.overlay-text {
    display: block;
    color: white;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    /* text-decoration-line: underline; */
    text-align: left !important;
}

.overlay p {
    display: block;
    font-size: 0.6em;
    margin: 0 !important;
    font-weight: 400;
    color: white;
    text-align: left !important;
}

.img-tile:hover .overlay {
    opacity: 1;
}

.contact-img {
    margin-bottom: 2em;
}

.contact-form {
    margin-top: 5vh;
    width: 382px;
}

.submit-btn {
    margin-top: -1em !important;
}

input[type="submit"] {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.submit-text {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}

form input::placeholder,
textarea::placeholder {
    box-decoration-break: clone;
    font-size: 0.9em;
    opacity: 50%;
    font-weight: 400;
}

form input:not([type="submit"]),
textarea {
    padding: 1% 5%;
    width: 90%;
    border: none;
    border-bottom: #a3a5a739 1px solid;
    margin-top: 1em;
}

footer {
    bottom: 0;
    left: 0;
    width: auto;
    margin-top: 0;
    color: #ffffff;
    background-color: #1d2043;
    padding: 5% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo {
    position: absolute;
    margin-bottom: 2em;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5em;
}

footer h2 {
    font-style: italic;
    color: #ffffff;
    font-weight: 300;
    font-size: 0.9em;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 0%;
    font-size: 0.9em;
}

footer .icon {
    margin-right: 1.5em;
}

footer .icon a {
    margin-top: 0.4em
}

footer .logo {
    color: #ffffff;
}


/* illustration.html */
.gallery {
    width: 382px;
}

.group-tile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

}

.gallery-tile {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.gallery-tile img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.illustration-footer {
    margin-top: 0;
}

.gallery-section {
    margin-top: 10vh;
}

.bar-conatiner {
    margin: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bar-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2em;
}

.progress {
    height: 0.5em;
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    background-color: #e9ecef;
    margin-top: 0.5em;
}

.illustration-bar {
    width: 90%;
    background-image: linear-gradient(45deg, #ff351e, #d61900);
    height: 1em;
}

.character-bar {
    width: 70%;
    background-image: linear-gradient(45deg, #ff351e, #d61900);
    height: 1em;
}

.ui-bar {
    width: 60%;
    background-image: linear-gradient(45deg, #ff351e, #d61900);
    height: 1em;
}


/* about.html */
.about-section {
    margin-top: 10vh;
}

.about {
    margin-top: 5vh;
}

.qualification-section {
    align-items: flex-start;
    margin-top: 0;
}

.qualification-conatiner {
    margin-top: 10vh;
    width: 100%;
}

.qualification-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.qualification-row {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

.year {
    width: 30%;
    flex: none;
    margin-right: 0.8em;
}

.desc::before {
    content: '';
    height: 100%;
    width: 2px;
    left: -2px;
    position: absolute;
    background: #E8E8E8;
}

.desc::after {
    position: absolute;
    content: '';
    height: 6px;
    width: 6px;
    left: -4px;
    top: 12px;
    transform: rotate(45deg);
    background: #ff0909;
}

.desc {
    position: relative;
    padding-left: 20px;
}

.desc span {
    font-weight: 400;
    margin-bottom: 5px;
    display: inline-block;
}
.desc h4{
    margin-bottom: 1em;
    font-weight: 500;
}

.desc h6{
    color: #a3a5a7;
    font-weight: 400;
    margin-bottom: 20px;
}

.qualification-title {
    margin-bottom: 5vh;
}